.h-wrapper {
    /* background-color: #f8f9fa; Adjust background color as needed */
    padding: 20px 0;
  }
  
  .h-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .h-menu {
    display: flex;
    gap: 20px;
  }
  
  .h-menu a {
    text-decoration: none;
    color: white;
    font-weight: 400;
  }
  
  .button a {
    text-decoration: none;
    color: white;
  }
  
  .menu-icon {
    display: none; /* Hidden by default */
    cursor: pointer;
  }
  
  .menu-icon svg {
    fill: #333;
  }
  
  .open {
    display: flex !important; /* Force menu to display when opened */
  }
  
  /* Responsive styles for mobile */
  @media (max-width: 768px) {
    .h-menu {
      display: none; /* Hide the menu by default on smaller screens */
      position: absolute;
      top: 60px;
      right: 0;
      background-color: #7f8e9f;
      flex-direction: column;
      gap: 10px;
      padding: 20px;
      border-radius: 8px;
      /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    }
    .h-menu a {
        text-decoration: none;
        color: black;
        font-weight: 400;
      }
      .h-menu .contact_button {
        text-decoration: none;
        color: white;
        font-weight: 400;
      } 
  
    .menu-icon {
      display: block; /* Show the toggle icon on small screens */
    }
  }
  